<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>CrewAi</title>
    <script>
        async function fetch_crews() {
            const response = await fetch('/crews');
            const crws = await response.json();
            const crewDivlist = document.getElementById('crewDivlist');
            crewDivlist.innerHTML = '';

            for (const [id, crw] of Object.entries(crws)) {

                const instanceDiv = document.createElement('div');
                instanceDiv.className = 'container bg-success bg-opacity-50 py-2 px-4 my-3 border border-success border-2 rounded-3 shadow';

                const ins_subDiv = document.createElement('div');
                ins_subDiv.className = 'd-flex flex-row justify-content-center';

                const text_div = document.createElement('div');
                text_div.className = 'w-100 py-2';

                const Agent_name = document.createElement('strong')
                Agent_name.textContent = 'Crew : '

                const instanceText = document.createElement('p');
                instanceText.textContent = `${crw.name}`;

                const del_btn_div = document.createElement('div');
                del_btn_div.className = 'flex-shrink-1'

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'Delete';
                deleteButton.className = 'btn btn-danger btn';
                deleteButton.onclick = () => deleteCrew(id);

                text_div.appendChild(Agent_name);
                text_div.appendChild(instanceText);
                del_btn_div.appendChild(deleteButton);
                ins_subDiv.appendChild(text_div);
                ins_subDiv.appendChild(del_btn_div);
                instanceDiv.appendChild(ins_subDiv);
                crewDivlist.appendChild(instanceDiv);
            }
        }
        async function create_crew(event) {
            event.preventDefault();
            const name = document.getElementById('name').value;
            const verbose = document.getElementById('verbose').value;
            const memorisation = document.getElementById('memorisation').value;
            response = await fetch('/crews', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({name, verbose, memorisation })
            });

            if (response.ok) {
                fetch_crews();
                document.getElementById('crews_form').reset();
            }
            else {
                const error = await response.json();
                alert(error.error);
            }
        }
        async function deleteCrew(id) {
            const response = await fetch(`/crews/${id}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                fetch_crews();
            } else {
                const error = await response.json();
                alert(error.error);
            }
        }
        document.addEventListener('DOMContentLoaded', fetch_crews);
    </script>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: rgba(251, 250, 250, 0.96);
    }

    h1 {

        background-color: #8A2387;
        background-image: linear-gradient(to right, #F27121, #E94057, #8A2387);
        -webkit-background-clip: text;
        /* -webkit-background-clip: text; */
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    p {
        display: inline;
    }
</style>

<body>
    <div class="px-4 pt-3 text-center">
        <h1 class="display-3 fw-bold text-body-emphasis">Multi-Agent System using CrewAi</h1>
        <div class="col-lg-6 mx-auto">
            <h5 class="lead px-2 fs-4 my-3">Create and manage intelligent agents effortlessly. Define goals, assign
                tasks,
                and watch your AI-powered agents bring them to life.</h5>
        </div>
    </div>
    <div class="container">
        <form id="crews_form" onsubmit="create_crew(event)">
            <div class="form-section">
                <div class="form-group">
                    <div class="d-flex">
                        <div class="container">
                            <label for="name" class="mt-2">Name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                            <label for="verbose" class="mt-2">Verbose:</label>
                            <input type="number" name="verbose" id="verbose" class="form-control mx-44" required>
                            <input type="checkbox" name="memorisation" id="memorisation" value="True">
                            <label for="memorisation" class="mt-2">Memory:</label>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <input type="submit" class="btn btn-primary px-5 my-1 py-3" value="Add Crew">
                            <a href="{{ url_for('mod_ind') }}" class="btn btn-success my-1 py-3">GO</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container" id="crewDivlist">
    </div>
</body>

</html>