<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>CrewAi</title>
</head>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: rgba(251, 250, 250, 0.96);
    }
    h1 {
        
        background-color: #8A2387; 
        background-image: linear-gradient(to right, #F27121, #E94057, #8A2387); 
        -webkit-background-clip: text;
        /* -webkit-background-clip: text; */
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
</style>
<body>
    <div class="px-4 pt-3 text-center">
        <h1 class="display-3 fw-bold text-body-emphasis">Multi-Agent System using CrewAi</h1>
        <div class="col-lg-6 mx-auto">
            <h5 class="lead px-2 fs-4 my-3">Create and manage intelligent agents effortlessly. Define goals, assign tasks,
                and watch your AI-powered agents bring them to life.</h5    >
        </div>
    </div>
    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
                <form method="POST" action="{{ url_for('submit') }}">
                    <h3 class="my-3 text-center">Create a New Agent</h3>
                    <div class="form-section">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
    
                        <div class="form-group my-2">
                            <label for="backstory">Backstory:</label>
                            <textarea id="backstory" name="backstory" class="form-control" rows="3" required></textarea>
                        </div>
    
                        <div class="form-group my-2">
                            <label for="goals">Goals (comma separated):</label>
                            <input type="text" name="goals" id="goals" class="form-control" required>
                        </div>
    
                        <div class="form-group my-2">
                            <label for="task">Task Description:</label>
                            <textarea id="task" name ="task" class="form-control" rows="3" required></textarea>
                        </div>
    
                        <div class="form-group my-2">
                            <label for="tools">Tools (comma separated):</label>
                            <input type="text" name="tools" id="tools" class="form-control" required>
                        </div>
    
                        <input class="btn btn-primary my-3" type="submit">
                </form>
              </div>
            </div>
            <div class="col-md-6">
                <h3 class="my-3 text-center">Agents</h3>
                    {% for user in user_inputs %}
                    <!-- <div class="alert alert-primary " id = "{{ user.name }}" role="alert">
                        <strong>Name:</strong> {{ user.name }}<br>
                        <button class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                    </div>     -->
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Agent Name : </strong> {{ user.name }}

                        <!-- <form method="post">
                            <button type="button" class="btn-close" aria-label="Close">Delete</button>
                        </form> -->
                      </div>
                {% endfor %}
            </div>
          </div>
        
    </div>

</body>

</html>